<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32966899671-ql2g27ipg5qhjlvqu0a1qo5olma8ndcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32966899671-ql2g27ipg5qhjlvqu0a1qo5olma8ndcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDcRdOqEs70-12AA_KtprvmpsEnnKUopHA</string>
	<key>GCM_SENDER_ID</key>
	<string>32966899671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skiripsiApp</string>
	<key>PROJECT_ID</key>
	<string>perfectdiet-8631f</string>
	<key>STORAGE_BUCKET</key>
	<string>perfectdiet-8631f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32966899671:ios:be5d1a87727516cc8cbd92</string>
</dict>
</plist>